@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Gabarito", sans-serif;
}

.navbar{
	padding: 10px;
	display: flex;
	gap:10px;
	justify-content: space-between;
	border-bottom: solid black 1px;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

.navbar__s1__title{
	color:#A435F0;
}

.navbar__s2{
	padding: 10px;
	border: solid black 1px;
	border-radius: 30px;
	width: 60%;
	display: flex;
	gap:10px;
	align-items: center;
	
}

.navbar__s2 input{
	border: none;
	font-size: 16px;
	width: 100%;
	background-color: transparent;
}

.navbar__s2 input:focus{
	outline: none;
}

.navbar__s3{
	display: flex;
	gap:10px;
	align-items: center;
}

/* My Learning Popup */

.mylearning{
	position: relative;
	cursor: pointer;
}
.mylearning__popup{
	position: absolute;
	background-color: white;
	border: solid black 1px;
	width: 100px;
	top:120%;
	right: 0;
	padding: 10px;
	display: none;
}

.mylearning:hover .mylearning__popup{
	display: block;
}


.categories{
	display: flex;
	padding: 10px;
	border-bottom:solid black 1px;
	justify-content: space-around;
	
}

.categories p{
	background-color: #A435F0;
	color: white;
	padding: 10px;
	border-radius: 30px;
	border: solid #A435F0 1px;
	cursor: pointer;
}

.categories p:hover{
	border: solid #A435F0 1px;
	transition: 1s;
	background-color: transparent;
	color: #A435F0;

}

.sale-image img{
	width: 100%;
}

.sale-image{
	position: relative;
}

.sale-image__offer{
	width: 25%;
	border: solid black 2px;
	background-color: white;
	padding: 2%;
	position: absolute;
	right:10px;
	top: 10px;

	animation-name: zoom;
	animation-duration: 2s;
	opacity: 0;
	animation-fill-mode: forwards;
	 
}

@keyframes zoom {
	0%{
		opacity: 0;
		transform: scale(0);
	}

	100%{		
		opacity: 1;
		transform: scale(1);
	}
}
.recommended{
	padding: 10px;
}

.recommended__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.course-card{
	flex-grow: 1;
	flex-basis: 20%;
	margin: 5px;	
}

.course-card img{
	width: 100%;
	height: 50%;
}


.topics{
	padding: 10px;
}

.topics__container{
	 display: flex;
	gap:10px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.topics__container p{
	border: solid grey 1px;
	padding: 10px;
	flex-grow: 1;
	
	flex-basis: 25%;
}

.popular{
	padding: 10px;
}


.popular__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.footer{
	 background-color: black;
	color: white;
	padding: 30px;
}

.footer__one{
	display: flex;	
}

.footer__one p{
	margin: 20px;
}

.footer__two{
	display: flex;
	justify-content: space-between;
	margin: 20px;
	align-items: center;
}

/*   Media Queries  */
@media screen and (max-width:800px) {
	body{
		font-size: 10px;
	}
}

@media screen and (max-width:600px) {
	.course-card{
		
		flex-basis: 40%;
	}

	.categories{
		display: none;
	}

	.navbar__s2, .navbar__s3{
		display: none;
	}
}

@media screen and (min-width:600px) {
	.navbar__s4{
		display: none;
	}
}
















